<HTML lang="en" ng-app="myApp">
<head>
<title>Angular</title>
<link rel="shortcut icon" type="image/png" href="images/favicon.jpg"/>
<meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=no">
<script src="angular-1.6.9/angular.js"></script>

<link rel="stylesheet" href="css/style1.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="data.js"></script>
</head>
<body >

<div class="wrapper">

<div class="container-fluid">
	<div   ng-controller="navCtrl" class="nav"  >
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Disney</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ng-repeat="op in options" ><a ng-click = "navigate(op);">{{op}}</a></li>
		
    </ul>
	
  </div>
</nav>
	</div>
	
<div class="contain" ng-controller="ctrlBody">
<div class="panel-div">
<div class="panel panel-default">
<div class="panel-body">
{{content}}
</div>
</div>
</div>
<!------>
<div class="form">
<h3> Enter your Details</h3>
	<form name="myForm">
	<table class="frmTable">
	
	<tr>
	
		<td><input  type="text" class="form-control" name="Name" placeholder="Enter you name" id="name" ng-model="name" required></td>
	
	</tr>
	<tr>
		<td><input type="email" class="form-control" name="Email" placeholder ="Enter your Email" id ="email" ng-model="Email" required></td>
	</tr>
	<tr>
		<td><input type="mobile" class="form-control" name="Mobile" placeholder="Enter your Mobile Number" id="mob" ng-model="MobileNumber" required></td>
	</tr>
	
		</tr>
		</table>
		<input type="Button"   value="Submit" ng-click="print(MobileNumber,Email, name,myForm);" style="color: 'white'; width: '40px'"/>
	</form>
	
	<table class="frmTable">
	<p>You have entered:</p>
	<tr>
	
		<td>Name :{{test3}}</td>
	</tr>
	<tr>
		<td>Email :{{test2}}</td>
	</tr>
	<tr>
		<td>Mobile Number :{{test1}}</td>
	</tr>
	
		</tr>
		</table>
	
	
	
	
	</div>
	
	<div class="image">
<img ng-src={{imagepath}} alt="disney"/><br/>
</div><br/>

<!----->
<div class="aside">
<div class="panel panel-default">

<div class="panel-body">
<b>KWID</b><BR/>
<HR/>
{{content}}
{{content}}
{{content}}
{{content}}
{{content}}

</div>
<br/>
<div >

<div class="searchBox">
<label>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</label><input type="text" class ="inputClass" ng-model="searchText" placeholder="Enter name to search"/>
<label>Place:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</label><input type="text" class ="inputClass" ng-model = "searchText.place" placeholder="Enter place to search"/>
<label>Exact Match</label><input type="checkbox" ng-model="exactMatch" ng-model = "exact"/>
</div> 

<div class ="left">
<table class="tableData">
	<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Place</th>
				
			</tr>
	</thead>
	<tbody>
		<tr ng-repeat = "employee in employees | filter :searchText">
			<td>{{employee.name}}</td>
			<td>{{employee.age}}</td>
			<td>{{employee.place}}</td>
		</tr>
	</tbody>
</table>
</div>


</div><hr/>
<br/>



<!---->
</div>
<div class ="left">
<label>Hide Age</label>&nbsp;<input type="checkbox" ng-model="hideAge"/>
<table class="tableData1">
	<thead>
			<tr>
				<th>Name</th>
				<th ng-hide ="hideAge" >Age</th>
				<th ng-show ="hideAge" >Age</th>
				<th>Place</th>
				
			</tr>
	</thead>
	<tbody>
		<tr ng-repeat = "employee in employees">
			<td>{{employee.name}}</td>
			<td ng-hide ="hideAge">{{employee.age }}</td>
			<td ng-show ="hideAge">##</td>
			<td>{{employee.place | place}}</td>
		</tr>
	</tbody>
</table>
</div><br/>

</div>
<!-----form---->


<!-----end----->

	</div>
	

                      
	</div>
	
	</div>
		
<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> Disney.com </a>
    </div>
    <!--/.Copyright-->
<div ng-controller="scrollCtrl">
<p align="right">
<button type="button" ng-click="scrollTo('top')" class="btn btn-primary btn-md">Scroll to Top</button>
</p>
</div>
</footer>
<!--/.Footer-->
</body>
</HTML>